<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaPlYHjX6sqCfD8nrxrrlZl3_iMjoQQEk</string>
	<key>GCM_SENDER_ID</key>
	<string>969112396738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speedyBuySenior</string>
	<key>PROJECT_ID</key>
	<string>speedybuy-7d48c</string>
	<key>STORAGE_BUCKET</key>
	<string>speedybuy-7d48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969112396738:ios:c2cba658f2ad0551e32c5b</string>
</dict>
</plist>